/*
 * @Author          : 稻米鼠
 * @Date            : 2022-11-23 20:37:44
 * @LastEditTime    : 2022-11-23 20:37:59
 * @FilePath        : \ob-templates\snippets\PaperIndexCallout.css
 * @Description     : 索引标签样式卡片
 * @HomePage        : https://github.com/dmscode/Obsidian-Templates
 */
/* 索引标签 */
.callout[data-callout^="paper-index"] {
  --paper-border: 1px solid #333338;
  --paper-tab-radius: 6px;
  --paper-tab-top-border: 5px;
  position: relative;
  background: none;
  border: none;
  padding: 0 3px 3px;
}
.callout[data-callout^="paper-index"] > .callout-title {
  display: flex;
  background: none;
  border: none;
  border-bottom: var(--paper-border);
  padding: 3px 3px 0;
  overflow: hidden;
}
.callout[data-callout^="paper-index"] > .callout-title::before,
.callout[data-callout^="paper-index"] > .callout-title::after {
  content: ' ';
  flex-grow: 0;
}
.callout[data-callout^="paper-index"] > .callout-title > .callout-title-inner {
  position: relative;
  padding: var(--paper-tab-top-border) 1rem 0;
  font-size: .8rem;
  line-height: 1.4;
  font-weight: normal;
  color: var(--text-normal);
}
.callout[data-callout^="paper-index"] > .callout-title > .callout-title-inner::before {
  position: absolute;
  top: 0 ;
  left: 0;
  content: " ";
  width: 100%;
  height: 100%;
  border-top: var(--paper-tab-top-border) solid #333338;
  border-left: var(--paper-border);
  border-right: var(--paper-border);
  border-radius: var(--paper-tab-radius) var(--paper-tab-radius) 0 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.callout[data-callout^="paper-index"] > .callout-title > .callout-icon {
  display: none;
}
.callout[data-callout^="paper-index"] > .callout-content {
  border-bottom: var(--paper-border);
  border-left: var(--paper-border);
  border-right: var(--paper-border);
  padding: 1rem 1.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.callout[data-callout="paper-index-1"] > .callout-title::before { flex-grow: 1; }
.callout[data-callout="paper-index-1"] > .callout-title::after { flex-grow: 10; }

.callout[data-callout="paper-index-2"] > .callout-title::before { flex-grow: 2; }
.callout[data-callout="paper-index-2"] > .callout-title::after { flex-grow: 9; }

.callout[data-callout="paper-index-3"] > .callout-title::before { flex-grow: 3; }
.callout[data-callout="paper-index-3"] > .callout-title::after { flex-grow: 8; }

.callout[data-callout="paper-index-4"] > .callout-title::before { flex-grow: 4; }
.callout[data-callout="paper-index-4"] > .callout-title::after { flex-grow: 7; }

.callout[data-callout="paper-index-5"] > .callout-title::before { flex-grow: 5; }
.callout[data-callout="paper-index-5"] > .callout-title::after { flex-grow: 6; }

.callout[data-callout="paper-index-6"] > .callout-title::before { flex-grow: 6; }
.callout[data-callout="paper-index-6"] > .callout-title::after { flex-grow: 5; }

.callout[data-callout="paper-index-7"] > .callout-title::before { flex-grow: 7; }
.callout[data-callout="paper-index-7"] > .callout-title::after { flex-grow: 4; }

.callout[data-callout="paper-index-8"] > .callout-title::before { flex-grow: 8; }
.callout[data-callout="paper-index-8"] > .callout-title::after { flex-grow: 3; }

.callout[data-callout="paper-index-9"] > .callout-title::before { flex-grow: 9; }
.callout[data-callout="paper-index-9"] > .callout-title::after { flex-grow: 2; }

.callout[data-callout="paper-index-10"] > .callout-title::before { flex-grow: 10; }
.callout[data-callout="paper-index-10"] > .callout-title::after { flex-grow: 1; }

.callout[data-callout="paper-index-11"] > .callout-title::before { flex-grow: 11; }
.callout[data-callout="paper-index-11"] > .callout-title::after { flex-grow: 0; }

.callout[data-callout="paper-index-0"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(0, 90%, 80%);
}
.callout[data-callout="paper-index-1"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(30, 73%, 73%);
}
.callout[data-callout="paper-index-2"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(60, 53%, 59%);
}
.callout[data-callout="paper-index-3"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(90, 50%, 59%);
}
.callout[data-callout="paper-index-4"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(120, 33%, 40%);
}
.callout[data-callout="paper-index-5"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(150, 30%, 45%);
}
.callout[data-callout="paper-index-6"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(180, 52%, 39%);
}
.callout[data-callout="paper-index-7"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(210, 33%, 40%);
}
.callout[data-callout="paper-index-8"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(240, 26%, 54%);
}
.callout[data-callout="paper-index-9"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(270, 21%, 51%);
}
.callout[data-callout="paper-index-10"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(300, 34%, 65%);
}
.callout[data-callout="paper-index-11"] > .callout-title > .callout-title-inner::before {
  border-top: var(--paper-tab-top-border) solid hsl(330, 60%, 71%);
}