.callout[data-callout="split-2"],
.callout[data-callout="split-3"] {
  --callout-icon: "layout";
  float: left;
  width: calc(50% - 10px);
  margin: 5px;
  background-color: var(--background-primary);
  border: 1px solid rgba(128, 128, 128, .1);
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}
.callout[data-callout="split-2"] {
  width: calc(50% - 10px);
}
.callout[data-callout="split-3"] {
  width: calc(33% - 10px);
}
br { clear: both; }