/*
 * @Author          : 稻米鼠
 * @Date            : 2022-10-22 10:23:17
 * @LastEditTime    : 2022-10-24 13:14:50
 * @FilePath        : \Obsidian\Notes\Bookmarks\Webclipper-dataview\view.css
 * @Description     : 
 * @HomePage        : https://github.com/dmscode/Obsidian-Templates
 */
/* 书签页 */

.webclipper-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.webclipper-card * {
  box-sizing: border-box;
}
.webclipper-card {
  flex-shrink: 0;
  width: 332px;
  max-width: 98%;
  height: 240px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #9999AA;
  border-radius: 6px;
  padding: 5px;
  margin: 10px 5px;
}
.webclipper-info {
  position: relative;
  width: 320px;
  height: 160px;
  overflow: hidden;
  margin-bottom: .5em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.webclipper-desc {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  left: 0;
  top: -105%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .6);
  color: #CCCCCF;
  font-size: 16px;
  line-height: 1.6rem;
  transition: top .2s;
  backdrop-filter: blur(18px);
}
.webclipper-info:hover > .webclipper-desc {
  top: 0;
}
.webclipper-title,
.webclipper-url,
.webclipper-add {
  width: 100%;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  font-size: 16px;
  line-height: 1.2rem;
}
.webclipper-card a {
  text-decoration: none;
}
.webclipper-title > .webclipper-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
.webclipper-title > a.webclipper-link {
  font-weight: 700;
  color: var(--text-normal);
  text-decoration: none;
}
.webclipper-url > a.webclipper-link {
  font-size: 12px;
  font-weight: 200;
  color: #99999A;
  text-decoration: none;
}
.webclipper-add {
  font-size: 12px;
  font-weight: 200;
  color: #666688;
}
.webclipper-add > a.webclipper-edit {
  font-size: 12px;
  font-weight: 200;
  color: #666688;
  text-decoration: none;
}

/* 取消内容宽度限制，不一定能起作用 */

.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-content,
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: none;
}