/*
 * @Author          : 稻米鼠
 * @Date            : 2022-10-22 10:23:17
 * @LastEditTime    : 2022-11-23 10:11:20
 * @FilePath        : \ob-templates\Dataview\Bookmarks-dataview\view.css
 * @Description     : Obsidian Dataview 书签管理自定义视图
 * @HomePage        : https://github.com/dmscode/Obsidian-Templates
 */

.bookmark-group-title {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 2px 0;
  text-align: center;
}

.bookmark-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.bookmark-group * {
  box-sizing: border-box;
}

.bookmark-card {
  border: 1px solid #9999aa;
  border-radius: 6px;
  flex-shrink: 0;
  height: 280px;
  margin: 10px 5px;
  max-width: 98%;
  overflow: hidden;
  padding: 5px;
  width: 332px;
}

.bookmark-info {
  position: relative;
  height: 200px;
  margin-bottom: 0.5em;
  overflow: hidden;
  width: 320px;
}

.bookmark-screenshot {
  height: 200px;
  width: 320px;
}

.bookmark-desc {
  position: absolute;
  top: -105%;
  left: 0;
  backdrop-filter: blur(18px);
  background-color: rgba(0, 0, 0, 0.6);
  color: #cccccf;
  font-size: 16px;
  height: 100%;
  line-height: 1.6rem;
  overflow: hidden;
  padding: 1em 1.5em;
  transition: top 0.2s;
  width: 100%;
  z-index: 10;
}

.bookmark-info:hover>.bookmark-desc {
  top: 0;
}

.bookmark-title,
.bookmark-url,
.bookmark-add {
  font-size: 16px;
  line-height: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.bookmark-card a {
  text-decoration: none;
}

.bookmark-title>.bookmark-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.bookmark-title>a.bookmark-link {
  color: var(--text-normal);
  font-weight: 700;
}

.bookmark-url>a.bookmark-link {
  color: #99999a;
  font-size: 12px;
  font-weight: 200;
}

.bookmark-add {
  color: #666688;
  font-size: 12px;
  font-weight: 200;
}

.bookmark-add>a.bookmark-edit {
  color: #666688;
  font-size: 12px;
  font-weight: 200;
  text-decoration: none;
}

/* 取消内容宽度限制，不一定能起作用 */

.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-content,
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: none;
}